::-webkit-scrollbar {
  display: none;
}
main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 500px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50% 50%;
  box-shadow: 0 0 5px black;
  transition: all 0.5s;
}

.movingThing {
  display: flex;
  animation: movingThing 100s linear 0s infinite;
}

@keyframes movingThing {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-650%);
  }
}

img {
  width: 150%;
}

.container:hover {
  scale: 1.05;
  cursor: pointer;
}
