::-webkit-scrollbar {
  display: none;
}
main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;

  img {
    width: 80px;
  }
}

.container {
  height: 500px;
  width: min(500px, 100%);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: all 0.5s;
}

.movingThing {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container:hover {
  scale: 1.02;
}
